/* CSS Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global Styles */
body {
  font-family: 'Nunito Sans', sans-serif;
  background-color: #2b3467;
  color: #bad7e9;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header */
#header {
  height: 100vh;
  background-image: url("https://storage.googleapis.com/webpage-image-bucket-metauno/background-img.JPG");
  background-size: cover;
  background-position: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px 0;
}

.logo {
  width: 140px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: #fcffe7;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

nav ul li a::after {
  content: '';
  width: 0px;
  height: 4px;
  background: #eb455f;
  position: absolute;
  right: 0;
  bottom: -5px;
  transition: width 0.5s ease;
}

nav ul li a:hover::after {
  width: 100%;
  background-color: #eb455f;
  border-radius: 5px;
}

.header-text {
  color: #fcffe7;
  margin-top: 25%;
  font-size: 30px;
}

.header-text h1 {
  font-size: 80px;
  margin-top: 20px;
}

.header-text h1 span {
  color: #bad7e9;
}

/* About Section */
#about {
  padding: 60px 0;
  color: #555040ff;
  background-color: #f8f8f8;
  margin-bottom: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.about-column-1,
.about-column-2 {
  flex-basis: 50%;
}

.about-column-1 img {
  width: 100%;
  border-radius: 20px;
  margin-bottom: 20px;
}

.about-column-2 {
  padding: 20px;
}

.about-column-2 h1.subtitle {
  margin-bottom: 20px;
  color: #eb455f;
}

.about-column-2 p {
  font-size: 18px;
  line-height: 1.5;
  text-align: justify; /* Added text alignment */
}

/* Interests Section */
#interest {
  padding: 60px 0;
  color: #bad7e9;
}

.row1 {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px; /* Adjust the negative margin to your preference */
}

.about-column-3,
.about-column-4 {
  flex-basis: 50%;
}

.about-column-3 {
  padding: 20px;
}

.about-column-3 h1.subtitle {
  margin-bottom: 20px;
  color: #eb455f;
}

.about-column-3 p {
  font-size: 18px;
  line-height: 1.5;
  text-align: justify; /* Added text alignment */
}

.about-column-4 img {
  width: 100%;
  border-radius: 20px;
}

/* Contact Section */
main aside {
  padding: 80px;
  color: #555040ff;
  background-color: #f8f8f8;
  border: 2px solid rgba(85, 80, 64, 0);
  border-radius: 0px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

main aside .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

main aside .container h1 {
  margin-bottom: 20px;
  color: #555040ff;
  text-align: center;
}

main aside .biodata-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

main aside .biodata-content .profile-picture {
  order: 1;
}

main aside .biodata-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

main aside .biodata-content ul li {
  margin-bottom: 10px;
}

main aside .biodata-content ul li strong {
  font-weight: bold;
}

main aside .biodata-content img {
  width: 160px;
  height: auto;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
}
/* Footer */
footer {
  padding: 20px 0;
  text-align: center;
  background-color: #2b3467;
}

footer p {
  color: #bad7e9;
  font-size: 14px;
}